* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

/*Cabeçalho com logo e menu*/

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial;
}

nav .active a,
nav a:hover {
    background-color: #39aea1;
    color: #ffffff;
}

/*Primeira section Banner*/

#banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
    height: 670px;

}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 1px 1px 1px #000000;
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.banner_headline h2 {
    color: #ffffff;
    font-size: 21px;
    text-shadow: 1px 1px 1px #000000;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1 {
    background-color: #34e3d0;
}

.banner2 {
    background-color: #2cb8a8;
}

.banner3 {
    background-color: #1e8277;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

.op_hours {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.op_day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
}

.hours_bar {
    width: 250px;
    height: 0.5px;
    background-color: #ffffff;
    margin-top: none;
    margin-bottom: none;
}

/*O corpo do site, parte de Departamento, Noticias e etc. */

.depart_box {
    background-color: #2cb8a8;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.widget_body {
    display: flex;
}


/* Separar as partes do corpo*/

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 60px;
    height: 2px;
    background-color: #39aea1;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #007366;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #00cfb7;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_titles {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px; 
    margin-bottom: 30px;
}

/* A parte do FOOTER(rodapé) */

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #ffffff;
}

.fm_1 {
    background-color: #34e3d0;
}

.fm_2 {
    background-color: #2cb8a8;
}

.fm_3 {
    background-color: #1e8277;
}

.fm_1 h1, .fm_2 h1, .fm_3 h1 {
    font-size: 18px;
    font-family: Arial;
}

.fm_1 h2, .fm_2 h2, .fm_3 h2 {
    font-size: 13px;
    font-family: Arial;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #ffffff;
}

.flexColumn {
    flex-direction: column;
}

footer .widget_title_text {
    color: #ffffff;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #39aea1;
}

/*Criando propiedades de responsividade do site*/

@media (max-width: 600px) {
    
    .banner_headline {
        padding: 20px;
    }

    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}